
.Navbar {
    background-color: #58249c;
    padding: 20px;
    color: #FFF;
}

.Navbar nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.Navbar a.brand {
    margin-right: auto;
    color: #FFF;
    text-decoration: none;

}

.Navbar a:last-child {
    color: #FFF;
    text-decoration: none;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.Navbar a:last-child:hover {
    background-color: #FFF;
    color: #333;
}
